<main>
    <h1>Decks</h1>
    <div>
        <form action="/createdeck" method="GET">
            <input type="submit" value="Add new deck">
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Archetype</th>
                <th>Colors</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% decks.forEach(deck => { %>
                <tr>
                    <td><a href="/deck?id=<%= deck.externalId %>"><%= deck.name %></a></td>
                    <td><%= deck.year %></td>
                    <td><%= deck.archetype %></td>
                    <td><%- deck.colors %></td>
                    <td><a href="/editdeck?id=<%= deck.externalId %>">Edit</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <form action="/" method="GET">
        <input type="submit" value="Back">
    </form>
</main>